.side-ber
  .side-ber__top
    .side-ber__edit
      .side-ber__edit__top-items
        .side-ber__edit__top-items__name
          = current_user.name
        .side-ber__edit__top-items__icon
          = link_to  do
            %i.far.fa-edit
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
    .side-ber__group-list
      .side-ber__group-list__group-name
        groupname
      .side-ber__group-list__message
        new messages